.md-drawer {
  width: 225px !important;
}
.main-content {
  position: relative;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;

  .main-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex: 1;

    .main-content {
      flex: 1;
    }
  }
  @media screen and (max-width: 640px) {
    padding-bottom: 100px;
  }
}
.nav-title {
  cursor: pointer;
}

.md-toolbar--fixed {
  z-index: 1032 !important;
  position: absolute !important;
}

.md-list-item {
  i {
    position: relative;
    bottom: 1.4px;
  }
}
.md-btn--icon {
  height: 44px !important;
  width: 40px !important;
  padding: 10px;
}
.md-btn--hover {
  background-color: transparent !important;
}

.navigation-container header button {
  display: none;
}

@media screen and (min-width: 1025px) {
  .md-btn--icon {
    height: 44px !important;
  }
  .md-list-item {
    i {
      position: relative;
      bottom: 2.4px;
    }
  }
}

@media screen and (max-width: 640px) {
  .navigation-container header button {
    display: inline-block;
  }
}
