@import '../../layout/theme.scss';

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f5;
  padding: 1rem;
  height: 130px;
  margin-top: 20px;
  a {
    color: #d23669;
    font-weight: 500;
  }
  .notice-container {
    > span {
      display: block;
    }
    h4 {
      text-align: center;
      margin: 0;
    }
  }
  &.hidden {
    display: none;
  }
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}
